@font-face {
  font-family: 'Eina Light';
  src:  url(fonts/Eina01-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Eina Regular';
  src: url(fonts/Eina01-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Eina Semibold';
  src: url(fonts/Eina01-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Eina Bold';
  src: url(fonts/Eina01-Bold.ttf) format('truetype');
}